@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Old+Standard+TT&family=Open+Sans:wght@400;700&family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Old+Standard+TT&family=Open+Sans:wght@400;700&family=Poppins:wght@400;500;600&family=Schoolbell&display=swap");
:root {
  --background-color: #033848;
  --h-color: #08546c;
  --btn-color: #ffa63a;
  --bac-color: #033848;
  --p-color: #757575;
}

@media screen and (max-width: 576px) {
  .brother {
    margin-left: -70px;
  }
  .first__chat {
    display: none;
  }
  .box {
    display: none;
  }
  .box .number {
    margin-left: -100px;
    background: #ffffff;
    -webkit-box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.06);
  }
  .card {
    margin: 0 auto;
  }
}

@media screen and (max-width: 760px) {
  .box {
    display: none;
  }
  .card {
    margin: 0 auto;
  }
}

body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.first {
  padding-top: 120px;
  background-image: url("../../images/background.png");
  background-color: #033848;
}

.first__page {
  padding-top: 19px;
  padding-left: 30px;
  width: 195px;
  height: 65px;
  background: #094556;
  border-radius: 30px;
  font-family: "Schoolbell";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}

.first h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: #ffffff;
}

.first__product {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #849499;
}

.first__buttons {
  color: #ffffff;
  width: 137px;
  height: 61px;
  border-radius: 25px;
}

.first__buttons:hover {
  color: white;
  background: var(--btn-color);
  border-radius: 25px;
}

.first__pictures img {
  width: 100%;
  padding-bottom: 312px;
}

.first__chat {
  margin-top: 150px;
  margin-left: -170px;
  width: 50%;
  height: 169px;
  background: rgba(255, 255, 255, 0.08);
  border: 3px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(29px);
          backdrop-filter: blur(29px);
  border-radius: 20px;
}

.first__chat img {
  width: 45px;
}

.first__musa {
  width: 250px;
  height: 68px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.first__design {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #a1b5bb;
  margin-top: -10px;
}

.first .box {
  position: absolute;
  margin-top: -160px;
  max-width: 1170px;
  height: 323px;
  background: #ffffff;
  -webkit-box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
}

.first .box h6 {
  display: block;
  margin-left: 218px;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  color: #265a6a;
}

.first .box h1 {
  padding-top: 30px;
  padding-left: 218px;
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 48px;
  line-height: 22px;
  color: #08546c;
}

.first .box .project {
  width: 157px;
  margin-left: 218px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #08546c;
}

.three {
  padding-top: 361px;
}

.three__page {
  width: 76px;
  font-family: "Schoolbell";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #265a6a;
}

.three .build {
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
  color: #08546c;
  max-width: 510px;
  height: 120px;
}

.card {
  -webkit-transition: 1S;
  transition: 1S;
  cursor: pointer;
  border: none;
  background: #ffffff;
  -webkit-box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198);
          box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198);
}

.card img {
  -webkit-transition: 1s;
  transition: 1s;
  margin-top: 43px;
  width: 25px;
}

.card:hover {
  background-color: var(--h-color);
}

.card:hover img {
  background-color: var(--btn-color);
}

.card:hover h5 {
  color: white;
}

.card:hover p {
  color: #b2bbbd;
}

.four {
  margin-top: 200px;
}

.four__portfolio {
  color: var(--h-color);
  font-weight: 600;
  font-size: 45px;
  line-height: 56px;
}

.four__explore {
  color: var(--p-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

.four .mains {
  color: var(--h-color);
  font-weight: 600;
}

.four .pages {
  color: var(--p-color);
}

.four .read {
  text-decoration: none;
  color: var(--h-color);
}

.four .read:hover {
  color: var(--btn-color);
}

.four .read:hover img {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

@property --k {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}

.portfolio_img {
  --k: 0;
  --j: calc(1 - var(--k));
  --list: transparent calc(50% - 3vmin), red 0 calc(50% + 3vmin), transparent 0;
  place-self: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 60%;
  height: 60%;
  -webkit-filter: grayScale(var(--j));
          filter: grayScale(var(--j));
  --mask: radial-gradient(
      closest-side,
      red calc(70% - 1px),
      transparent 70%
    ),
    radial-gradient(
      closest-side,
      transparent calc(70% - 15% + var(--k) * 0.1 *15% - 1px),
      red calc(70% - 15% + var(--k) * 6 *15%)
        calc(var(--k) * 100% + var(--j) *70% - 1px),
      transparent calc(var(--k) * 100% + var(--j) *70%)
    ),
    linear-gradient(var(--list)), linear-gradient(90deg, var(--list)),
    linear-gradient(45deg, var(--list)), linear-gradient(-45deg, var(--list));
  -webkit-mask: var(--mask);
          mask: var(--mask);
  -webkit-mask-composite: add, intersect, add, add;
          mask-composite: add, intersect, add, add;
  transition: --k 0.3s ease-out;
}

.portfolio_img:hover {
  --k: 1;
}

#carousel .carousel-item img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

#carousel .carousel-fade .carousel-item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#carousel .carousel-fade .carousel-item.active {
  opacity: 1;
}

#carousel .container {
  padding: 0;
}

#carousel .carousel-control-prev, #carousel .carousel-control-next {
  top: auto;
  bottom: auto;
  bottom: 0;
  width: 50px;
  height: 50px;
  border: 1px solid #ffa800;
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#carousel .carousel-control-prev:hover, #carousel .carousel-control-next:hover {
  background-color: #ffa800;
}

#carousel .carousel-control-prev {
  left: calc(50% + 100px);
}

@media screen and (max-width: 768px) {
  #carousel .carousel-control-prev {
    top: 15px;
    right: 85px;
    left: auto;
  }
}

#carousel .carousel-control-prev:hover > .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>") !important;
}

#carousel .carousel-control-prev-icon {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(255, 166, 58)'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
}

#carousel .carousel-control-next {
  left: calc(50% + 180px);
}

@media screen and (max-width: 768px) {
  #carousel .carousel-control-next {
    top: 15px;
    right: 15px;
    left: auto;
  }
}

#carousel .carousel-control-next:hover > .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
}

#carousel .carousel-control-next-icon {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(255, 166, 58)'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
}

#five {
  margin-top: 200px;
  background-image: url("../../images/background.png");
  background-color: var(--background-color);
}

#five .person {
  width: 100%;
}

#five img {
  padding-top: 80px;
}

#five .hero img {
  padding-top: 110px;
}

#five .company {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #aabfc6;
}

#blog {
  margin-top: 200px;
}

#blog .end img {
  width: 100%;
}

#blog .end__txt {
  color: var(--h-color);
  margin-top: 40px;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
}

#blog .end__succes {
  color: var(--p-color);
}

#blog .end .links {
  width: 136px;
  height: 48px;
  background: #ffffff;
  border-radius: 30px;
}

#blog .end .links:hover {
  color: #ffa800;
  background: #fff8eb;
}

#blog .end .go {
  margin-top: 60px;
  border-radius: 30px;
  width: 191px;
  height: 61px;
  background: #ffa63a;
  color: #fff;
  border: 1px solid;
}

#blog .end .go:hover {
  -webkit-box-shadow: 0px 100px 80px rgba(255, 166, 58, 0.07), 0px 41.7776px 33.4221px rgba(255, 166, 58, 0.0503198), 0px 22.3363px 17.869px rgba(255, 166, 58, 0.0417275), 0px 12.5216px 10.0172px rgba(255, 166, 58, 0.035), 0px 6.6501px 5.32008px rgba(255, 166, 58, 0.0282725), 0px 2.76726px 2.21381px rgba(255, 166, 58, 0.0196802);
          box-shadow: 0px 100px 80px rgba(255, 166, 58, 0.07), 0px 41.7776px 33.4221px rgba(255, 166, 58, 0.0503198), 0px 22.3363px 17.869px rgba(255, 166, 58, 0.0417275), 0px 12.5216px 10.0172px rgba(255, 166, 58, 0.035), 0px 6.6501px 5.32008px rgba(255, 166, 58, 0.0282725), 0px 2.76726px 2.21381px rgba(255, 166, 58, 0.0196802);
  color: black;
  background-color: #fff;
}

#blog .end .buttons {
  margin-top: 192px;
}

#blog .end .buttons .next_page {
  padding: 0 15px;
  border-radius: 50%;
  border: 1px solid #ffa63a;
  width: 50px;
  height: 50px;
}

#blog .end .buttons .next_page:hover {
  background-color: #ffa63a;
}

#footer {
  margin-top: 101px;
}

#footer .lorem {
  width: 344px;
  height: 84px;
  font-size: 18px;
}

#footer .social {
  margin-top: 50px;
}

#footer .btn:hover {
  background-color: var(--btn-color);
}

#footer .page {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #08546c;
}

header {
  background-color: var(--background-color);
  padding: 1rem 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 10px 10px 0  #0a475a;
          box-shadow: 0 10px 10px 0  #0a475a;
}

.header {
  background-image: url("../../images/background.png");
  background-color: var(--background-color);
}

.header .navbar-toggler {
  border-color: #bbbbcb;
  background-color: #ffffff;
}

.header .navbar-shrink {
  background-color: #0a475a;
  padding: 5px !important;
}

.header a {
  color: #a1b5bb;
}

.header a {
  color: #bbbbcb;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.header a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: green;
}

.header .offcanvas-header .text-reset {
  background-color: white;
}

.header .offcanvas-body {
  background-color: #033848;
}

.nav-item .contact:hover {
  color: #a1b5bb;
  background-color: #083e08;
}

.nav-item .contact {
  background-color: #145e76;
  border-radius: 30px !important;
  border: none;
  border-color: #474975 !important;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  width: 140px;
  height: 58px;
  padding-top: 15px;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */