@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Old+Standard+TT&family=Open+Sans:wght@400;700&family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Old+Standard+TT&family=Open+Sans:wght@400;700&family=Poppins:wght@400;500;600&family=Schoolbell&display=swap");
:root {
  --background-color: #033848;
  --h-color: #08546c;
  --btn-color: #ffa63a;
  --bac-color: #033848;
  --p-color: #757575;
}

@media screen and (max-width: 576px) {
  .brother {
    margin-left: -70px;
  }
  .first__chat {
    display: none;
  }
  .box {
    background-color: transparent;
  }
  .box .number {
    margin-left: -100px;
    background: #ffffff;
    -webkit-box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.06);
  }
  .card {
    margin: 0 auto;
  }
}

@media screen and (max-width: 760px) {
  .number {
    width: 400px;
    background: #ffffff;
    -webkit-box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.06);
  }
  .card {
    margin: 0 auto;
  }
}

body {
  font-family: "Inter", sans-serif;
}

.first {
  padding-top: 120px;
  background-image: url("../../images/background.png");
  background-color: #033848;
}

.first__page {
  padding-top: 19px;
  padding-left: 30px;
  width: 195px;
  height: 65px;
  background: #094556;
  border-radius: 30px;
  font-family: "Schoolbell";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}

.first h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: #ffffff;
}

.first__product {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #849499;
}

.first__buttons {
  color: #ffffff;
  width: 137px;
  height: 61px;
  border-radius: 25px;
}

.first__buttons:hover {
  color: white;
  background: var(--btn-color);
  border-radius: 25px;
}

.first__pictures img {
  width: 100%;
  padding-bottom: 312px;
}

.first__chat {
  margin-top: 150px;
  margin-left: -170px;
  width: 50%;
  height: 169px;
  background: rgba(255, 255, 255, 0.08);
  border: 3px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(29px);
          backdrop-filter: blur(29px);
  border-radius: 20px;
}

.first__chat img {
  width: 45px;
}

.first__musa {
  width: 250px;
  height: 68px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.first__design {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #a1b5bb;
  margin-top: -10px;
}

.first .box {
  position: absolute;
  margin-top: -160px;
  max-width: 1170px;
  height: 323px;
  background: #ffffff;
  -webkit-box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
}

.first .box h6 {
  display: block;
  margin-left: 218px;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  color: #265a6a;
}

.first .box h1 {
  padding-top: 30px;
  padding-left: 218px;
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 48px;
  line-height: 22px;
  color: #08546c;
}

.first .box .project {
  width: 157px;
  margin-left: 218px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #08546c;
}

.three {
  padding-top: 361px;
}

.three__page {
  width: 76px;
  font-family: "Schoolbell";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #265a6a;
}

.three .build {
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
  color: #08546c;
  max-width: 510px;
  height: 120px;
}

.card {
  cursor: pointer;
  border: none;
  background: #ffffff;
  -webkit-box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198);
          box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198);
}

.card img {
  margin-top: 43px;
  width: 25px;
}

.card:hover {
  background-color: var(--h-color);
}

.card:hover img {
  background-color: var(--btn-color);
}

.card:hover h5 {
  color: white;
}

.card:hover p {
  color: #b2bbbd;
}

.four {
  margin-top: 200px;
}

.four__portfolio {
  color: var(--h-color);
  font-weight: 600;
  font-size: 45px;
  line-height: 56px;
}

.four__explore {
  color: var(--p-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

.header {
  background-image: url("../../images/background.png");
  background-color: var(--background-color);
}

.header .navbar-toggler {
  border-color: #bbbbcb;
  background-color: #ffffff;
}

.header .navbar {
  padding-top: 45px;
  padding-bottom: 45px;
  -webkit-transition: 5s;
  transition: 5s;
}

.header .navbar.navbar-shrink {
  -webkit-box-shadow: 0 0 5px grey;
          box-shadow: 0 0 5px grey;
  padding: 10px 0;
}

.header a {
  color: #a1b5bb;
}

.header a {
  color: #bbbbcb;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.header a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: green;
}

.header .offcanvas-header .text-reset {
  background-color: white;
}

.header .offcanvas-body {
  background-color: #033848;
}

.nav-item .contact:hover {
  color: #a1b5bb;
  background-color: #083e08;
}

.nav-item .contact {
  background-color: #145e76;
  border-radius: 30px !important;
  border: none;
  border-color: #474975 !important;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  width: 140px;
  height: 58px;
  padding-top: 15px;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */