//color

:root {
  --background-color: #033848;
  --h-color: #08546c;
  --btn-color: #ffa63a;
  --bac-color: #033848;
  --p-color: #757575;
}

$w: 3vmin;
$r: 70%;
$o: 0.5 * (100% + $r) - $r;

// carousel

$carousel-color: #ffa800;
$control-transition-time: 0.5s;
