@media screen and (max-width: 576px) {
  .brother {
    margin-left: -70px;
  }
  .first__chat {
    display: none;
  }
  .box {
    display: none;
  }
  .card {
    margin: 0 auto;
  }
  .first {
    .building {
      font-weight: 700;
      font-size: 44px;
      line-height: 50px;
      color: #ffffff;
    }
  }
  .end_btn {
    margin-bottom: 50px;
    margin-left: -70px;
  }
  // .all{
  //   display: flex;
  //   flex-direction: column;
  // }
}
@media screen and (max-width: 760px) {
  .box {
    display: none;
  }
  .card {
    margin: 0 auto;
  }
}
